{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'css/home.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}" type = "text/css"/>
{% endblock %}

{% block content %}

 <div class="projects gallerypr">

     {% for G in contacts %}

     <div class="col-sm-4">

         <div class="projectname" style="background-image:url({{ G.photo.url }});">

           <div class="projectcontent">
           <a href="{% url 'photogallery' pk=G.pk %}" class="biga gallery"> {{G.name}} </a>
         </div>

         </div>

     </div>
     {% endfor %}

     <div class="pagination">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">назад</a>
            {% endif %}

            <span class="current">
                страница {{ contacts.number }} из {{ contacts.paginator.num_pages }}
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}">вперед</a>
            {% endif %}
        </span>
    </div>

 </div>


{% endblock %}
