{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'css/home.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/project.css' %}" type = "text/css"/>
{% endblock %}

{% block title %}
&#160;|<a href="/projects/"><small>Проекты</small></a>
{% endblock %}

{% block content %}

{% for P in Project %}
<div class="mainphoto">
  <img src="{{ P.photo.url }}">
</div>
<div class="maininfo">
  {% if P.model %}
    <a href="{% url 'project' pk=P.pk %}">{{ P.model }}</a>
  {% endif %}
  {% if P.service %}
    <a href="{% url 'project' pk=P.pk %}">{{ P.service }}</a>
  {% endif %}
  <h1>{{ P.name }}</h1>
  <div class="line"></div>
  {% if P.text %}

    <p class="moretext" >{{ P.text }}</p>
  {% endif %}

  {% for I in Image %}
    {% if I.photo %}
      <div class="projectimage" ><img src="{{ I.photo.url }}"></div>
    {% endif %}
    {% if I.text %}
      <div class="projecttext" ><p>{{ I.text }}</p></div>
    {% endif %}

  {% endfor %}

</div>
{% endfor %}
<script src="/static/js/jquery.js"></script>



<script src="/static/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        paginationClickable: true,
        // Disable preloading of all images
        preloadImages: false,
        // Enable lazy loading
        lazyLoading: true

    });
</script>
{% endblock %}
