.models{

  position: fixed;
  right: 0;
  width: 7vw;
  height: 100%;
  top:15vh;

}

.modelsitem {
  margin: 1vw;
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
}

.modelsitem:hover {

  opacity: 1;
}




.mobile .models, .mobile .models-l, .ipad .models, .ipad .models-l {
  display: none;
}
